.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
    overflow: paged-x;
}

.post-content {
    white-space: pre-line;
}

.web-head {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

header {
    background-color: #3B5998;
}

header h1 {
    margin: 0;
}

.text-box {
    border-color: black;
    border-width: 3px;
}

/*.posts-items {*/
    /*padding: 20px 50px 0px */
    /**/
/*}*/