.posts-main {
    border-collapse: collapse;
}

.post-main {
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
    overflow: paged-x;
}

.post-content {
    white-space: pre-line;
}

.web-head {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

header {
    background-color: #3B5998;
}

header h1 {
    margin: 0;
}

.text-box {
    border-color: black;
    border-width: 2px;
    alignment: left;
    margin-left: 150px;
    margin-bottom: 5px;
    width: 350px;
    height: 150px;
}

.post-btn {
    margin-left: 150px;
    margin-bottom: 20px;
}

.comments-items {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.comments-all {
    padding-bottom: 20px;
    padding-left: 50px;
    padding-top: 20px;
    background-color: aliceblue;
}

.post-container {
    font-family: Arial, sans-serif;
    border: 1px solid #999;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.sign-up {
    margin-left: 150px;
    padding-bottom: 50px;
}

.post-time {
    font-size: 10px;
    margin-left: 10px;
}

.sign-up-text {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.submit-text {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-left: 150px;
}